<p-table #dt [columns]="this.cols" [value]="Produkty" [paginator]="false" [rows]="filters.perPage" (sortFunction)="customSort($event)" sortField="name" [sortOrder]="1" [customSort]="true" [autoLayout]="true">
  <ng-template pTemplate="caption">
    <div style="display: flex; justify-content: space-between">
      <div style="display: flex;">
        <div><button style="width: 100%;" pButton type="button" label="Dodaj" class="ui-button-raised ui-button-success" (click)="addRow()"></button></div>
        <div><i class="pi pi-align-justify mouse-hover" (click)="editcolumns()" style="font-size: 2rem; transform: rotate(90deg);"></i></div>
        <div class="arrow" *ngIf="cols.length===0">
          <div class="arrow-triangle"></div>
          <div class="arrow-box">Kliknij aby wybrać odpowiednie kolumny.</div>
        </div>
      </div>
      <div style="text-align: right;">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search" [(ngModel)]="filters.search" (input)="search()" style="width:auto">
        <i class="pi pi-info-circle" style="font-size: 175%;margin-left: 5px;" pTooltip="- Użycie @ spowoduje wyszukiwanie produktu po ID np. @5229." tooltipPosition="left"></i>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th><input pInputText style="width: 50px;" type="number" [(ngModel)]="filters.perPage" [min]="0" [step]="1" required></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-i="rowIndex">
    <tr [pSelectableRow]="rowData" *ngIf="cols.length>0">
      <td>{{(this.filters.first+i+1)}}</td>
      <td *ngFor="let c of cols">
        <span *ngIf="c.field === 'id'">{{rowData.id}}</span>
        <span *ngIf="c.field === 'categoryId'">{{rowData.categoryId}}</span>
        <span *ngIf="c.field === 'categoryName'">{{rowData.categoryName}}</span>
        <span *ngIf="c.field === 'name'">{{rowData.name}}</span>
        <span *ngIf="c.field === 'addDate'">{{rowData.addDate}}</span>
        <span *ngIf="c.field === 'addBy'">{{ProfilData.getProfilName(rowData.addBy)}}</span>
        <span *ngIf="c.field === 'lastChangeDate'">{{rowData.lastChangeDate}}</span>
        <span *ngIf="c.field === 'availabilityAlert'">{{rowData.availabilityAlert}}</span>
        <span *ngIf="c.field === 'availabilityWarning'">{{rowData.availabilityWarning}}</span>
        <span *ngIf="c.field === 'retailAlert'">{{rowData.retailAlert}}</span>
        <span *ngIf="c.field === 'maxOrder'">{{rowData.maxOrder}}</span>
        <span *ngIf="c.field === 'barcode'">{{rowData.barcode}}</span>
        <span *ngIf="c.field === 'comment'">{{rowData.comment}}</span>
        <span *ngIf="c.field === 'packaging'">{{rowData.packaging}}</span>
        <span *ngIf="c.field === 'height'">{{rowData.height}}</span>
        <span *ngIf="c.field === 'width'">{{rowData.width}}</span>
        <span *ngIf="c.field === 'length'">{{rowData.length}}</span>
        <span *ngIf="c.field === 'collectivelyHeight'">{{rowData.collectivelyHeight}}</span>
        <span *ngIf="c.field === 'collectivelyWidth'">{{rowData.collectivelyWidth}}</span>
        <span *ngIf="c.field === 'collectivelyLength'">{{rowData.collectivelyLength}}</span>
        <span *ngIf="c.field === 'weight'">{{rowData.weight}}</span>
        <span *ngIf="c.field === 'nettoWeight'">{{rowData.nettoWeight}}</span>
        <span *ngIf="c.field === 'collectivelyWeight'">{{rowData.collectivelyWeight}}</span>
        <span *ngIf="c.field === 'serialNo'">{{rowData.serialNo}}</span>
        <span *ngIf="c.field === 'deliveryOff'">{{rowData.deliveryOff}}</span>
        <span *ngIf="c.field === 'gtu'">{{rowData.gtu}}</span>
        <span *ngIf="c.field === 'cerebroSku'">{{rowData.cerebroSku}}</span>
        <span *ngIf="c.field === 'bom'">{{rowData.bom}}</span>
        <span *ngIf="c.field === 'dubel'">{{rowData.dubel}}</span>
        <span *ngIf="c.field === 'isArchive'">{{rowData.isArchive}}</span>
        <span *ngIf="c.field === 'visible'">{{rowData.visible}}</span>
        <span *ngIf="c.field === 'isActive'">{{rowData.isActive}}</span>
      </td>
      <td>
        <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="editRow(rowData)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td [colSpan]="cols.length+2">
        <p-paginator
          [pageLinkSize]="10"
          [rows]="this.filters.perPage"
          [first]="this.filters.first"
          [totalRecords]="this.filters.count"
          [rowsPerPageOptions]="[25,50,100]"
          (onPageChange)="paginate($event)" appendTo="body">
        </p-paginator>
      </td>
    </tr>
  </ng-template>
</p-table>

